name: Release Valid

on:
  push:
    branches:
      - master
      - dev

jobs:

  run-tests:
    uses: ./.github/workflows/tests.yml

  release:
    if: github.ref == 'refs/heads/master'
    needs: run-tests
    runs-on: ubuntu-latest

    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Semantic Release
        uses: codfish/semantic-release-action@v3
        with:
          dry_run: false

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}