name: Release Valid

on:
  push:
    branches:
      - master
      - dev

jobs:

  run-tests:
    uses: ./.github/workflows/tests.yml

  release:
    if: github.ref == 'refs/heads/master'
    needs: run-tests
    runs-on: ubuntu-latest

    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Semantic Release
        uses: codfish/semantic-release-action@v3
        with:
          dry_run: false
          branches: |
            ['master']
          tag_format: 'v${version}'
          plugins: |
            [
              '@semantic-release/commit-analyzer',
              '@semantic-release/release-notes-generator',
              '@semantic-release/github',
              '@semantic-release/git'
            ]

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}